@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
}
.def {
  font-style: italic;
  color: darkblue;
}
